.prof-card {
  display: flex;
  width: 40vw;
  max-height: 20vw;
  border: 2px solid #F0F1F7;
  border-radius: 6px;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFFFFF;
}

.prof-img {
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  margin: 0;
}

.prof-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 60px 35px;
}

.prof-name {
  font-size: 20px;
  margin: 0 0 8px;
}

.prof-title {
  font-size: 16px;
  color: #00000061;
  margin: 0 0 16px;
}

.prof-contact {
  font-size: 14px;
  color: #333;
  margin: 6px 0;
  display: flex;
  align-items: flex-end;
}

.prof-contact img {
  margin-right: 8px;
  height: 18px;
  width: 18px;
}

.hoverCustom:hover {
  background-color: rgb(8, 38, 124);
  color: white;
}

.customBgNew {
  background-color: rgb(236 243 255);
}

.hoveredBg:hover {
  background-color: rgb(197 217 254)
}

.customCOlor {
  background-color: rgb(8, 38, 124);
}