.meet-the-team-page{
    width:100%;
    height: fit-content;
    margin: 0;
    box-sizing: border-box;
}

.mtt-banner{
    position: relative;
    background-color: #08267C;
    height:431px;
    padding-left:120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mtt-banner img{
    position: absolute;
    top:0;
    right:0;
    height:100%;
}

.mtt-banner div{
    font-size: 76px;
    height:fit-content;
    font-weight: 900;
    color:#ffffff;
}

.mtt-banner div span{
    color:#5E82EB;
}

.category-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #ECF3FF;
    padding-top: 3px;
}

.category{
    text-align: center;
    font-size: 13px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height : 100%;
    color: #00000099;
    padding-bottom: 10px;
}

.category-active{
    text-align: center;
    width: 180px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height : 100%;
    background-color: #C3D9FE;
    color: #08267C;
    padding-bottom: 10px;
}

.category img{
    max-width: 48px;
    max-height: 48px;
    margin:auto;
}

.category-active img{
    margin:auto;
    max-width: 48px;
    max-height: 48px;
    /* filter: invert(14%) sepia(300%) saturate(7492%) hue-rotate(200deg) brightness(100%) contrast(170%); */
}

.category-icon{
    color: blue;
}