.achievements-container{
    width: 100%;
    margin: auto;
    overflow-x: hidden ;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.achievements-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.achievements-header h1{
    font-size: 31px;
    font-weight: 500;
    color: #000000;
}

.achievements-cards{
    display: flex;
    gap: 24px;
    width: fit-content;
    padding-right: 24px;
}

.achievements-button{
    background-color: #E9EAEC;
    width: 34px;
    height: 34px;
    padding: auto;
}
.achievements-button img{
    width: 6px;
    height: 11px;
    margin:auto;
}
.next-image{
    transform: rotate(180deg);
}

.achievements-indexes{
    display: flex;
    gap: 3px;
    align-items: center;
}

.achievements-index{
    height:34px;
    width:34px;
    border: 1px solid #d0d0d0;
    font-size: 13px;
    color:#9496A3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-index{
    background-color: #0D3FCD;
    color: #FFFFFF;
    text-decoration: underline;
}

.event-card{
    width: 486px;
    height: 345px;
    border: 2px solid rgba(0,0,0,0.3) ;
    margin-bottom: 5px;
}

.event-card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: white;
    margin-bottom: 3px;
}
.event-card-content p{
    font-size: 20px;
}
.event-card-content a{
    font-size: 13px;
    color:#0E45E1;
}
.event-card img{
    width: 100%;
    height: 279px;
}