.each-announcement{
    display: flex;
    background-color: #F0F1F7;
    width: 100%;
    height: fit-content;
    padding: 16px 20px;
}

.each-announcement h2{
    font-size: 20px;
    font-weight: 400;
}

.each-announcement p{
    color: #00000061;
    font-size: 13px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
}
.img-container img{
    width: 25px;
    height: 24px;
}