*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: url('./Assests/Fonts/Satoshi-Regular.woff2');
}

.body{
  display: flex;
  width: 1201px;
  height: 752px;
  gap: 131px;
  margin: auto;
}